html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

input[type="text"], inout[type="email"]{
    margin-bottom: 0;
}