table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.btn-edit, .btn-delete {
    background-color: orange; 
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 0 5px; 
}

.btn-delete {
    background-color: red; 
}

.btn-add {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.acao-container {
    display: flex;
    justify-content: center; 
    gap: 5px; 
}
